DATABASE_NAME=
DATABASE_USER=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_HOST=
PORT=
HOST=
API_VERSION=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=
STRIPE_API_KEY=
PAYPAL_SCERET_KEY=
PAYPAL_API_CLIENT=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
CORS_ALLOWED_ORIGINS=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=             
MINIO_REGION=
RESEND_API_KEY=
RESEND_SENDER_EMAIL=
RESEND_SENDER_NAME=
CACHE_USE_REDIS=
REDIS_CONNECTION_STRING=
CACHE_DEFAULT_EXPIRATION_MINUTES=
CACHE_LOCAL_EXPIRATION_MINUTES=

SUPER_ADMIN_EMAIL=
HEAD_OF_DEPARTMENT_EMAIL=
ACADEMIC_DIRECTOR_EMAIL=
VICE_PRINCIPAL_EMAIL=
REGISTRAR_EMAIL=
BURSAR_EMAIL=
ACCOUNTANT_EMAIL=
FINANCE_MANAGER_EMAIL=
HR_MANAGER_EMAIL=
HR_OFFICER_EMAIL=
PAYROLL_OFFICER_EMAIL=
ADMISSIONS_OFFICER_EMAIL=
EXAM_OFFICER_EMAIL=
LIBRARIAN_EMAIL=
ASSISTANT_LIBRARIAN_EMAIL=
LAB_MANAGER_EMAIL=
LAB_TECHNICIAN_EMAIL=
ICT_MANAGER_EMAIL=
IT_SUPPORT_EMAIL=
SYSTEM_ADMIN_EMAIL=
NETWORK_ADMIN_EMAIL=
SECURITY_OFFICER_EMAIL=
PROCUREMENT_OFFICER_EMAIL=
STORE_KEEPER_EMAIL=
HOSTEL_MANAGER_EMAIL=
HOSTEL_WARDEN_EMAIL=
TRANSPORT_MANAGER_EMAIL=
DRIVER_EMAIL=
NURSE_EMAIL=
SCHOOL_DOCTOR_EMAIL=
COUNSELOR_EMAIL=
RECEPTIONIST_EMAIL=
SECRETARY_EMAIL=
PUBLIC_RELATIONS_OFFICER_EMAIL=
QUALITY_ASSURANCE_MANAGER_EMAIL=
QUALITY_ASSURANCE_OFFICER_EMAIL=
COMPLIANCE_OFFICER_EMAIL=
LEGAL_OFFICER_EMAIL=
MARKETING_MANAGER_EMAIL=
EVENT_COORDINATOR_EMAIL=
SPORTS_DIRECTOR_EMAIL=
SPORTS_COACH_EMAIL=
DEAN_OF_STUDIES_EMAIL=
DISCIPLINE_MASTER_EMAIL=
CLASS_COORDINATOR_EMAIL=
TIMETABLE_OFFICER_EMAIL=
CURRICULUM_MANAGER_EMAIL=
ALUMNI_COORDINATOR_EMAIL=
RESEARCH_COORDINATOR_EMAIL=
TRAINING_COORDINATOR_EMAIL=
FACILITIES_MANAGER_EMAIL=
MAINTENANCE_SUPERVISOR_EMAIL=