DATABASE_NAME=
DATABASE_USER=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_HOST=
PORT=
HOST=
API_VERSION=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=
STRIPE_API_KEY=
PAYPAL_SCERET_KEY=
PAYPAL_API_CLIENT=
MAILERSEND_API_KEY=
MAILERSEND_EMAIL_SENDER=
MAILERSEND_EMAIL_NAME=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=