<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget-org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet10-preview" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dotnet10-preview">
      <package pattern="Microsoft.*" />
      <package pattern="Aspire.*" />
      <package pattern="System.*" />
    </packageSource>
    <packageSource key="nuget-org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>